* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f0f0f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #1c1c1c;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(208, 208, 208, 0.4);
    min-width: 350px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-container input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #2b2b2b;
    color: #ccc;
}

.input-container input::placeholder {
    color: #888;
}

.input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #7f00ff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#todo-list {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

#todo-list li {
    background-color: #2e2e2e;
    color: #ddd;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li:hover {
    background-color: #3b3b3b;
}

#todo-list button {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c62828;
}

.completed span {
    text-decoration: line-through;
    color: rgb(255, 255, 255);
}